<%= render 'shared/second_header' %>

<div class="registration-main">
  <div class="form-wrap-sign-up">
    <%= render 'shared/form_header' %>
    <div class="form-all">
      <p class="registration-completed-text">登録が完了しました</p>
    </div>
    <div class="return-top-page-btn">
      <%= link_to(root_path, class: "return-gray-btn", id: 'gray-btn') do %>
        <p class="return-btn-text">トップページへ</p>
      <% end %>
    </div>
  </div>
</div>

<style>
  .right-circle {
    background-color: #ff0000;
  }
  
  .step-text-right {
    color: black;
    font-weight: bold;
  }
</style>

<%= render 'shared/second_footer' %>