.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 25px;
}

.form-header-text {
  line-height: 100px;
  font-weight: bold;
}

.step-contents {
  display: flex;
  justify-content: center;
  margin: 0 80px;
}

.left-circle, .center-circle, .right-circle {
  width: 30px;
  height: 30px;
  border: 0.5px solid #ccc;
  border-radius: 50%;
  background-color: #ccc;
}

.horizontal-line {
  width: 20vw;
  height: 3px;
  color: #ccc;
  background-color: #ccc;
  border: 1px solid;
  margin: 12px 12px;
}

.step-text {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #ccc;
  padding-bottom: 25px;
  margin: 9px 65px 0 40px;
  border-bottom: 1px solid #f5f5f5;
}

.step-text-center {
  margin-right: 25px;
}