/* shared/header */
.search-button {
  width: 5vh;
  cursor: pointer;
  background-color: #F93;
  position: relative;
  font-family: FontAwesome;
  color: #999;
  border: none;
}

.sign-in-btn, .sign-up-btn {
  width: 80px;
  padding: 9px 9px;
  margin-right: 12px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px #666;
  border: none;
  outline: none;
}

.sign-in-btn {
  background-color: #F93;
  margin-left: 15px;
}

.sign-up-btn {
  background-color: #00bfff;
}

.sign-btn-text {
  text-decoration: none;
  line-height: 30px;
  color: #333;
}

/* index */
.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

.post-btn {
  height: 55px;
  width: 190px;
  background: #F93;
  text-align: center;
  bottom: 15px;
  right: 15px;
  position: fixed;
  z-index: 20;
  padding: 15px;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

/* devise/registrations, /sessions */
.next-btn, .register-btn {
  width: 20vw;
  margin: 40px auto 0;
}

.register-btn {
  margin: -30px auto 0;
}

.blue-next-btn, .blue-register-btn {
  width: 100%;
  background: #00bfff;
  border: 1px solid #00bfff;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-btn {
  width: 20vw;
  margin: 0 auto;
  margin-top: 50px;
}

.login-orange-btn {
  width: 100%;
  background: #f93;
  border: 1px solid #f93;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.go-back-btn {
  width: 15vw;
  margin: 30px auto 0px;
  background-color: #ccc;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  right: 15px;
  bottom: 15px;
  position: fixed;
  z-index: 20;
}

.go-back-btn-text {
  color: #fff;
  text-decoration: none;
}

/* books/new */
.post-output-btn, .post-edit-btn {
  width: 20vw;
  margin: 40px auto 0;
}

.post-output-orange-btn {
  width: 100%;
  background: #f93;
  border: 1px solid #f93;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* books/show */
.font-three-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.font-three-btn > li {
  font-size: 25px;
  margin-left: 30px;
  color: #999;
  cursor: pointer;
  font-family: FontAwesome;
}

.comment-yellow-btn {
  display: none;
  color: #fff;
  background-color: #ccc;
  border: 1px solid #000;
  padding: 0 8px;
  cursor: none;
}

#more-btn {
  width: 120px;
  background-color: #f93;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  left: 43.5vw;
}

/* shared/_comment_list */
.comment-detail-btn {
  display: flex;
  font-size: 20px;
  margin-top: -12px;
  font-family: FontAwesome;
}

.comment-detail-btn > li {
  color: #999;
  cursor: pointer;
}

/* books/edit */
.post-edit-green-btn {
  width: 20vw;
  background-color: #0d0;
  border: 1px solid #0d0;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* users/show */
.user-detail-btn {
  display: flex;
  font-size: 30px;
  margin: 3px 6px 0 0;
  font-family: FontAwesome;
  cursor: pointer;
}

/* 共通部分 */
.sign-in-btn, .sign-up-btn, .post-btn, .blue-next-btn, .blue-register-btn, .login-orange-btn, .go-back-btn, .post-output-orange-btn, .comment-yellow-btn, .post-edit-green-btn {
  border-radius: 5px;
}