.flash-post, .flash-update, .flash-register, .flash-add, .flash-delete {
  font-weight: bold;
  font-size: 14px;
  padding: 6px 12px;
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: #fff;
  border: 1px solid;
  position: fixed;
}

.flash-post {
  color: #f93;
  border-color: #f93;
}

.flash-update {
  color: #090;
  border-color: #090;
}

.flash-register {
  color: #ff66ff;
  border-color: #ff66ff;
}

.flash-add {
  color: #0000FF;
  border-color: #0000FF;
}

.flash-delete {
  color: #f00;
  border-color: #f00;
}