/* 下部広告部分 */
/* books/index.htmlの広告cssを所々使いまわしています。 */

.ad-footer-contents {
  background-image: image-url('book-pile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-footer-explain {
  font-size: 3vh;
  line-height: 30px;
  margin-bottom: 2.5vh;
}

.ad-footer-title {
  font-size: 4vh;
  margin-bottom: 1vh;
}
/* //下部広告部分 */

.top-page-footer {
  padding-top: 5vh;
  color: #FFF;
  background-color: #999999;
  text-align: center;
}

.footer-upper {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.bookput-details {
  margin: 3vh 4vw;
}

.footer-content-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.footer>p {
  font-size: 14px;
}

.footer-lower {
  background-color: #777;
}

.footer-icon {
  margin-left: 14vw;
}

.copyright {
  padding-bottom: 5px;
  margin-right: 26px;
  text-align: center;
}