* {
  box-sizing: border-box;
}

.top-page-header {
  z-index: 20;
  position: fixed;
  height: 110px;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  width: 35vw;
  height: 5vh;
  display: flex;
  margin: 8px 0 0 -12vw;
}

.search-form>.input-box {
  width: 75%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #FF9933;
  padding: 8px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 3px;
  bottom: 3px;
}

.layout-change {
  display: flex;
  list-style: none;
  height: 30px;
}

.login-condition {
  display: flex;
  text-decoration: none;
  color: #333333;
  margin-top: 8.5px;
}

.user-nickname {
  text-decoration: none;
  margin: 0 0.5vw 0 3vw;
  color: #333333;
  font-weight: bold;
}

.user-image {
  border-radius: 50%;
  margin-top: -10px;
  border: 1px solid gray;
}

.not-login-condition {
  display: flex;
  margin-top: 5px;
}

.sign-in-btn, .sign-up-btn {
  width: 80px;
  border-radius: 4px;
  padding: 9px 9px;
  margin-right: 12px;
  cursor: pointer;
  box-shadow: 2px 2px #222222;
  border: none;
  outline: none;
}

.sign-in-btn {
  background-color: #FF9933;
  margin-left: 15px;
}

.sign-up-btn {
  background-color: #00bfff;
}

.btn-text {
  text-decoration: none;
  line-height: 30px;
  color: #333333;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.search-lists {
  display: flex;
  min-width: 200px;
  margin-left: 10px;
}

.search-list {
  text-decoration: none;
  margin: 0 20px 0 0.7vw;
  color: #333333;
}