#orange-btn:hover {
  background-color:#FFAD90;
}

#blue-btn:hover {
  background-color:#66CCFF;
}

.go-back-btn:hover {
  background-color: #ddd;
}

#green-btn:hover {
  background-color: #00ee00;
}

#list-text:hover {
  color: #FF9933;
}

#link-text:hover {
  text-decoration: underline;
}

#user-image:hover {
  border: 1px solid #FF9933;
  background-color: #eee;
}

#my-page-text:hover, #user-text:hover {
  color: #00CCFF;
}

#log-out-text:hover, #destroy-text:hover {
  color: #FF0000;
}

.book-list>.list:hover {
  border-color: #FF9933;
}

.pagination span:hover:not(.pagination span.current){
  border-color: #FF9933;
}

#ellipsis-btn:hover {
  color: #666;
}

#edit-text:hover {
  color: #00cc00;
}

#report-text:hover {
  color: #8B008B;
}