#orange-btn:hover {
  background-color:#ffad90;
}

#blue-btn:hover {
  background-color:#6cf;
}

#list-text:hover {
  color: #f93;
}

#favorite-text:hover {
  color: #ff66ff;
}

#link-text:hover {
  text-decoration: underline;
}

#user-image:hover {
  border: 1px solid #f93;
  background-color: #eee;
}

.return-btn:hover, .return-top-page-btn:hover {
  background-color: #ddd;
}

#user-nickname-text:hover, #my-page-text:hover, #user-text:hover {
  color: #0df;
}

#log-out-text:hover, #destroy-text:hover, #leave-text:hover {
  color: #ff0000;
}

.book-list>.list:hover {
  border-color: #f93;
}

.pagination span:hover:not(.pagination span.current){
  border-color: #f93;
}

#ellipsis-btn:hover, #ellipsis-btn-2:hover {
  color: #666;
}

#green-btn:hover {
  background-color: #0e0;
}

#edit-text:hover {
  color: #0c0;
}

#report-text:hover {
  color: #8B008B;
}

#more-btn:hover {
  background-color:#ffad90;
}