<div class='form-header'>
  <h1 class='form-header-text'>
    新規登録
  </h1>
  <div class='step-contents'>
    <div class='circle'></div>
    <hr class='two-lines'>
    <div class='circle'></div>
    <hr class='two-lines'>
    <div class='circle'></div>
  </div>
  <div class ='step-texts'>
    <div class='left-text'>お客様情報入力</div>
    <div class='center-text'>アンケート内容入力</div>
    <div class='right-text'>登録完了</div>
  </div>
</div>