<div class='form-header'>
  <h1 class='form-header-text'>
    新規登録
  </h1>
  <div class='step-contents'>
    <div class='left-circle'></div>
    <hr class='horizontal-line'>
    <div class='center-circle'></div>
    <hr class='horizontal-line'>
    <div class='right-circle'></div>
  </div>
  <div class ='step-text'>
    <div class='step-text-left'>お客様情報入力</div>
    <div class='step-text-center'>アンケート情報入力</div>
    <div class='step-text-right'>登録完了</div>
  </div>
</div>