<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p><%= link_to 'プライバシーポリシー', '#', class:"footer-link", id:'link' %></p>
    <p><%= link_to 'BooKPuT利用規約', '#', class:"footer-link", id: 'link' %></p>
    <p><%= link_to '特定商取引に関する表記', '#', class:"footer-link", id:'link' %></p>
  </div>
  <div class='second-footer-content-foot'>
    <%= image_tag "bookput-logo.png", class:"second-footer-logo"%>
    <p class='copyright'>Copyright(C) 2021, BooKPuT.com, Inc. All Rights reserved.</p>
  </div>
</footer>