<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p class='footer-link'>プライバシーポリシー</p>
    <p class='footer-link'>BooKPuT利用規約</p>
    <p class='footer-link'>特定商取引に関する表記</p>
  </div>
  <div class='second-footer-content-foot'>
    <%= image_tag "bookput-logo.png", class:"second-footer-logo"%>
    <p class='copyright'>Copyright(C) 2021, BooKPuT.com, Inc. All Rights reserved.</p>
  </div>
</footer>