<ul class="book-lists", id='pagenate'>
  <div class="book-list">
    <% if @books.present? %>
      <%= render 'book_list' %>
    <% else %>
      <div class="no-post">
        <%= image_tag "apology-man.png", class: "no-post-image" %>
        <p class="no-post-text">投稿はありません</p>
      </div>
    <% end %>
  </div>
  <%= paginate @books, remote: true %>
</ul>

<style>
  .book-posted-user-image {
    margin: 18px 9px 0 0;
  }
</style>