.book-lists {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

.book-list {
  display: flex;
}

.book-list>.list {
  width: 25vw;
  padding: 1vw;
  margin: 5vh 1vw 0;
  background-color: #FFF;
  border: 1px solid #000;
}

.book-info {
  color: #000;
}

.book-title {
  font-size: 3.5vh;
  font-weight: bold;
}

.book-posted-user, .book-posted-time {
  font-size: 3vh;
}

.no-post {
  display: block;
}

.no-post-sentence {
  margin-left: 8.5vw;
}

.pagination{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  font-family: FontAwesome;
}

.pagination span{
  background-color: #FFF;
  text-align: center;
  width: 50px;
  border: solid 1px #000;
  color: #000;
}

.pagination span.current {
  background-color: #FF9933;
}