a {
  text-decoration: none;
}

.main {
  background-color: #f8f8f8;
}

/* 画面上部の「生き方が変わる読書アプリ」帯部分 */
.title-contents {
  min-height: 85vh;
  background-image: image-url('big-library.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 45px;
  margin-top: 100px;
}

.service-explain {
  font-size: 20px;
  line-height: 40px;
}

.service-benefit {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-catch-copy {
  font-size: 35px;
  line-height: 50px;
}

.how-to-use {
  padding: 10vh;
  .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
  }
}

.usage-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list {
    width: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.list {
  position: relative;
  z-index: 10;
}

.usage-list-number {
  position: absolute;
  top: 30px;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #f93;
  color: #fff;  
}

.usage-list-text {
  width: 30vw;
  margin: 15px 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.usage-list-description {
  margin:10px 20px 0 0;
}

/* 投稿一覧 */
.book-contents {
  background-image: image-url('book-pile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  .title {
    font-size: 30px;
    font-weight: bold;
  }
}

/* FAQ */
.faq {
  background-color: #eee;
  text-align: center;
  padding: 4vh;
  color: #5f5d60;
  .title {
    font-size: 30px;
    font-weight: bold;
  }
}

#faq-list {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor: pointer;
  text-align: left;
  .question {
    font-size: 20px;
    font-weight: bold; 
  }
  span {
    position: absolute;
    top: 0;
    right: 5px;
    color:#ccc;
    font-size: 20px;
  }
  .answer {
    font-size: 15px;
    padding: 5px 0px;
    margin-bottom: 10px;
    display: none;
  }
}