.search-result {
  padding-top: 110px;
  background-color: #f5f5f5;
  margin: 0 auto;
  display: block;
}

.search-result-main {
  width: 95%;
  padding: 2vw 6vw 2vw 8vw;
  background-color: #fc6;
  margin: 0 auto;
}

.result-text {
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.result-text> span, .no-result-text> span {
  font-size: 25px;
  font-weight: bold;
}

.hint-text {
  margin-top: 10px;
}