.book-detail-main {
  min-width: 1000px;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.book-detail {
  width: 80%;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.detail-header {
  height: 120px;
  text-align: center;
  font-size: 25px;
}

.detail-header-text {
  line-height: 100px;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
}

.detail-time {
  margin-left: 56.2vw;
}

.detail-title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.detail-user {
  text-align: center;
  font-size: 20px;
}

.detail-user > span {
  font-weight: bold;
  font-size: 25px;
}

.detail-posted-user-text:hover {
  color: #00CCFF;
}

.detail-posted-user-text {
  color: black;
}

.review-btns {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.review-btns > li {
  font-size: 25px;
  margin-left: 30px;
  color: #999;
  cursor: pointer;
}

#ellipsis:hover {
  color: #666;
}

.hidden-lists-2 {
  color: #fff;
  width: 10vw;
  display: none;
  align-items: center;
  position: absolute;
  left: 78vw;
  padding: 1vw 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid gray;
}

#report-text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #999;
  content: "\f024";
  margin-right: 10px;
}

#report-text:hover {
  color: #8B008B;
}

.detail-upper {
  display: block;
  padding-bottom: 4vh;
}

.detail-img-content {
  margin: 0 16.5vw;
}

.detail-img {
  width: 45vw;
  min-height: 65vh;
}

.detail-category-genre {
  margin-left: 16.5vw;
  font-size: 20px;
}

.detail-catch-copy {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.detail-content, .detail-highlight {
  width: 60vw;
  margin: 0 0 5vh 16.5vw;
  white-space: pre-line;
}

.detail-highlight {
  margin-top: -5vh;
}

.comment-field {
  width: 80vw;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1vh 0;
}