/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*ページネーション自体のデザイン*/
.pagination>li>a {
  color: #FF9933
}

.flash-post, .flash-update, .flash-delete {
  width: 18%;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 12px;
  position: absolute;
  top: 20px;
  left: 15px;
  background-color: white;
}

.flash-post {
  color: #FF9933;
  border: 1px solid #FF9933;
}

.flash-update {
  color: #009900;
  border: 1px solid #009900;
}

.flash-delete {
  color: #f00;
  border: 1px solid #f00;
}