.my-page-main {
  padding-top: 110px;
  background-color: #f5f5f5;
  margin: 0 auto;
  display: block;
}

.user-info, .questionnaire-info {
  width: 85%;
  padding: 2vw 6vw 2vw 8vw;
  background-color: white;
  margin: 0 auto;
}

.user-info-text, .questionnaire-info-text {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
}

.user-info-layout {
  display: flex;
  justify-content: space-between;
}

.user-table {
  margin: 28px 0;
  width: 60%;
}

.questionnaire-table {
  margin: 16px 0;
  width: 65%;
}

.table-key{
  text-align: center;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 2px solid #000;
  width: 35%;
  padding: 8px;
}

.table-value{
  text-align: left;
  border: 2px solid #000;
  border-collapse: collapse;
  width: 65%;
  padding: 16px 8px;
}