.form-wrap-sign-in {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;  
}

.forget-password {
  text-decoration: none;
  color: #0099e8;
  margin-top: 5px;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-orange-btn {
  width: 100%;
  background: #FF9933;
  border: 1px solid #FF9933;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.not-register {
  font-weight: bold;
  margin-top: 5px;
}

.go-back-btn {
  width: 30%;
  margin: 30px auto 0px;
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.go-back-btn-text {
  color: white;
  text-decoration: none;
}

.login-flash-message {
  text-align: center;
  color: red;
}